/*
 * Custom translucent site header
 */

.site-header {
  background-color: #123448;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  height:50px;
}
.site-header .site-header-div {
  padding: 0 20px;
}
.site-header a {
  color: #fff;
  transition: ease-in-out color .15s;
  font-size: 1.2rem;
}
.site-header a:hover {
  color: #999;
  text-decoration: none;
}
.site-header a.active {
  color: #fff;
  transition: ease-in-out color .15s;
  //background-color: rgba(0,0,0,.1);
}



/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

/**
* Footer styles
*/
footer.page-footer {
    background-color: #123448;
    padding: 0 15px;
}
.light, footer.page-footer .footer-copyright {
    font-weight: 300;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255,255,255,.8);
    background-color: rgba(51,51,51,.08);
}
.white-text {
    color: #fff !important;
}