.mainSec {
	background: #dee2e6;
	height:100%;
	 padding:25px;
}

.productContainer {
	margin: 0 auto !important;
    width: 80%;
    //background: white;
    height:100%;
    padding:0;
}

.card-body p, .discTxt, .tab-pane p {
	margin-bottom:0;
	font-size:14px;
}

.card-body img {
	width: 150px;
    border: 1px solid #999;
    margin-top: 5px;
}

.card-body img:hover {
	box-shadow: 3px 3px 2px 2px #ccc;
}

