<div class="mainSec">
	<div class="container productContainer">
		<ngb-tabset>
		  <ngb-tab title="Cliffwater Direct Lending Index">
		    <ng-template ngbTabContent>
		      <div class="row">
		      	<div class="col-xs-12 col-sm-8">
		      		<p>
		      			Private debt has been a rapidly growing asset class among institutional investors, a trend that  Cliffwater  expects  to  continue.    This  report  focuses  on  second  quarter  2018  performance for one of the largest segments of private debt, U.S. middle market corporate lending.
		      		</p>
		      		<h5 class="tblTtl">The Cliffwater Direct Lending Index</h5>
		      		<p>
		      			Our  analysis  relies  heavily  upon  the  Cliffwater  Direct  Lending  Index,  or  CDLI,  an  asset-weighted index of over 6,000 direct loans totaling $94 billion in assets.1  The CDLI is a first-of-its-kind index used by well-known institutional investors to help understand asset class characteristics and to benchmark performance of the asset class.
		      		</p>
		      		<p>
		      			Launched in 2015, the CDLI was reconstructed back to 2004 using quarterly SEC filings required  of  business  development  companies,  whose  primary  asset  holdings  are  U.S.  middle  market  corporate  loans.    Importantly,  SEC  filing  and  transparency  requirements  eliminate common biases of survivorship and self-selection found in other industry universe and index benchmarks.  And finally, loan assets in the CDLI are managed for total return largely by independent asset managers, unlike similar assets within insurance companies where   statutory   and   other   regulatory   requirements   can   result   in   non-performance   objectives.    See  <a href="http://www.cliffwaterdirectlendingindex.com/" target="_blank">www.CliffwaterDirectLendingIndex.com</a> for  further  information  on  the  CDLI.  
		      		</p>
		      		<div class="tblContent">
			      		<h5 class="tblTtl">CDLI Returns<sup>2</sup></h5>
			      		<table class="table">
						  <thead>
						    <tr>
						      <th scope="col"></th>
						      <th scope="col">Second Quarter 2018</th>
						      <th scope="col">Trailing Four Quarters</th>
						      <th scope="col">From Sept 2004 Inception*</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <th scope="row">Income </th>
						      <td>2.52%</td>
						      <td>10.23%</td>
						      <td>11.12%</td>
						    </tr>
						    <tr>
						      <th scope="row">Net Realized Gains(Losses)</th>
						      <td>-0.38%</td>
						      <td>-1.33%</td>
						      <td>-1.07%</td>
						    </tr>
						    <tr>
						      <th scope="row">Net Unrealized Gains(Losses)</th>
						      <td>0.30%</td>
						      <td>0.10%</td>
						      <td>-0.28%</td>
						    </tr>
						  </tbody>
						  <tfoot class="totRow">
						  	  <th scope="row">Total CDLI Return**</th>
						   	  <td>2.44%</td>
						      <td>8.90%</td>
						      <td>9.70%</td>
						  </tfoot>
						</table>
					</div>
					<p class="discTxt">
						<strong>
							<i> The Cliffwater Direct Lending Index (the “CDLI”) seeks to measure the unlevered, gross of fees performance of U.S.  middle  market  corporate  loans,  as  represented  by  the  underlying  assets  of  Business  Development  Companies   (“BDCs”),   including   both   exchange-traded   and   unlisted   BDCs,   subject   to   certain   eligibility   requirements.  The CDLI is asset-weighted by reported fair value. 2 Any information presented prior to the Launch Date (September 30, 2015) of the CDLI is back-tested. The CDLI performance  has  been  prepared  for  informational  purposes  only.  Past  performance  is  not  indicative  of  future  returns.  Please see additional CDLI disclosures at the end of this report.</i>
						</strong>
					</p>
		      	</div>
		      	<div class="col-xs-12 col-sm-4">
		      		<div class="card">
					  <div class="card-header">
					    Literature
					  </div>
					  <div class="card-body text-center">
					    <p>2018 Q2 Report on U.S. Direct Lending</p>
					    <p>
					    	<a href="https://www.cliffwater.com/reader/viewer.html?file=https://storage.googleapis.com/cdli/Cliffwater2018Q2ReportOnUSDirectLending.pdf" target="_blank">(Read | Download)</a>
					    </p>
					    <div>
					    	<a href="https://www.cliffwater.com/reader/viewer.html?file=https://storage.googleapis.com/cdli/Cliffwater2018Q2ReportOnUSDirectLending.pdf" target="_blank">
					    		<img src="assets/img/CDLI_Sample.png" alt="Sample CDLI Image">
					    	</a>
					    </div>
					    <hr/>
					    <p>2018 Q2 Report on U.S. Direct Lending</p>
					    <p>
					    	<a href="https://www.cliffwater.com/reader/viewer.html?file=https://storage.googleapis.com/cdli/Cliffwater2018Q2ReportOnUSDirectLending.pdf" target="_blank">(Read | Download)</a>
					    </p>
					    <div>
					    	<a href="https://www.cliffwater.com/reader/viewer.html?file=https://storage.googleapis.com/cdli/Cliffwater2018Q2ReportOnUSDirectLending.pdf" target="_blank">
					    		<img src="assets/img/CDLI_Sample.png" alt="Sample CDLI Image">
					    	</a>
					    </div>
					   <hr/>
					    <p>2018 Q2 Report on U.S. Direct Lending</p>
					    <p>
					    	<a href="https://www.cliffwater.com/reader/viewer.html?file=https://storage.googleapis.com/cdli/Cliffwater2018Q2ReportOnUSDirectLending.pdf" target="_blank">(Read | Download)</a>
					    </p>
					    <div>
					    	<a href="https://www.cliffwater.com/reader/viewer.html?file=https://storage.googleapis.com/cdli/Cliffwater2018Q2ReportOnUSDirectLending.pdf" target="_blank">
					    		<img src="assets/img/CDLI_Sample.png" alt="Sample CDLI Image">
					    	</a>
					    </div>
					  </div>
					</div>
		      	</div>
		      </div>
		    </ng-template>
		  </ngb-tab>
		  <!--<ngb-tab title="Variance Risk Premium">
		    <ng-template ngbTabContent>
		    	Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
		    </ng-template>
		  </ngb-tab>
		  <ngb-tab title="Alternative Lending Risk Premium">
		    <ng-template ngbTabContent>
		      Alternative Lending Risk Premium
		    </ng-template>
		  </ngb-tab>-->
		</ngb-tabset>
	</div>
</div>