@import "~bootstrap/dist/css/bootstrap.css";


body{
	font-family: "Roboto",sans-serif !important;
    font-weight: normal;
    color: rgba(0,0,0,.87);
    font-size:1rem !important;
}

.container {
  max-width: 960px;
}

/*
tab-bar
**/
.tblTtl {
	color:#123448;
	font-weight: 600;
}
.container.productContainer .tab-content {
	background: white;
    padding: 3%;
    border-top: 3px solid #123448;
}

.nav-tabs .nav-item {
	width: 100%;
}
.nav-tabs .nav-item a.nav-link {
	text-transform: uppercase !important;
	background-color: #999 !important;
	color:black;
}

.nav-tabs .nav-item a.nav-link.active, .nav-tabs .nav-item a.nav-link:hover {
	color:#fff !important;
	background-color: #123448 !important;
	border-color: #123448;
}

